@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,
*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html{
  font-size: 16px;
}
:root{
  --clr-Strong: hsl(172, 67%, 45%);
  --clr-Very-dark-cyan: hsl(183, 100%, 15%);
  --clr-Dark-grayish-cyan: hsl(186, 14%, 43%);
  --clr-Grayish-cyan: hsl(184, 14%, 56%);
  --clr-Light-grayish-cyan: hsl(185, 41%, 84%);
  --clr-Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --clr-White: hsl(0, 0%, 100%);
  
--box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
}
img{
  width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
li{
  list-style:none;
}





body{
  font-family: 'Poppins', sans-serif;
  background-color:var(--clr-Light-grayish-cyan);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spli{
  text-align: center;
  color: var(--clr-Very-dark-cyan);
}
.card{
  height: 20rem;
  width: 40rem;
  background-color: var(--clr-White);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

.left{
  height: 18rem;
  width: 17rem;
  border-radius: 8px;
  margin: auto;
}
.bill{
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.section-title{
  color: var(--clr-Grayish-cyan);
}
.input-people{
  width: 17rem;
}

.tips{
  display: flex;
  flex-wrap: wrap;
  
  gap: 1rem;
}
.tip-percent{
  height: 2rem;
  width: 6rem;
}
.custom-tip{
  width: 6rem;
}
.people{
  padding-top: 1rem;
}





.tip-percent{
  background-color: var(--clr-Very-dark-cyan);
  color: var(--clr-White);
  border: none;
  border-radius: 4px;
}


.right{
  height: 18rem;
  width: 18rem;
  border-radius: 8px;
  background-color: var(--clr-Very-dark-cyan);
  margin: auto;
}
.tip,.total{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}
.total-no,.tip-no{
  color: var(--clr-Strong);
}
.tip-amount,.total-amount{
  color: var(--clr-White);
}
.span-tip,.span-total{
  color: var(--clr-Dark-grayish-cyan);
}
.btn{
  height: 2rem;
  width: 16rem;
  border-radius: 4px;
  border: none;
  background-color:var(--clr-Strong) ;
  color: var(--clr-Very-dark-cyan);
}
.button{
padding: 1rem;
margin-top:5px;
}

@media screen and (max-width: 425px){
  .card{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 40rem;
  }
}